h1 {
  text-align: center;
  color: rgb(38, 206, 198);
  font-weight: bold;
  font-size: 65px;
  font-family: 'Impact';
}

#underline {
  color: rgb(38, 206, 198);
}

#select {
  color: rgb(38, 206, 198);
  font-family: 'Impact';
  font-size: 20px;
}


.info {
  padding: 2% 10% 10% 10%;
  display: inline-grid;
  grid-template-columns: min-content 30%;
  grid-template-rows: 17% 10% 10% 0% 5% 38% 0% ;
  grid-column-gap: 5%;  
  }

#Movies {
  color: rgb(38, 206, 198);
  background-color: rgb(54, 52, 52);
  border-color: rgba(71, 70, 70, 0.76);
  font-family: 'Impact';
  font-size: 20px;
}

#button {
  font-size: 20px;
  color: rgb(38, 206, 198);
  background-color: rgb(54, 52, 52);
  border-color: rgba(33, 255, 4, 0.76);
}

#info {
  text-align: center;
  padding-left: 20px;
  color: rgb(38, 206, 198);
  font-weight: bold;
  font-family: Verdana, Tahoma, sans-serif;
}

#vote {
  padding-right: 20px;
  color: rgb(38, 206, 198);
  font-weight: bold;
  font-family: Verdana, Tahoma, sans-serif;
}

#overviewLabel {
  text-align: center;
  color: rgb(38, 206, 198);
  font-weight: bold;
  font-family: Verdana, Tahoma, sans-serif;
}

#overviewText {
  text-align: center;
  color: rgb(38, 206, 198);
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#cover {
  width: 300px;
  height: 410px;
  border: 5px;
  border-color: rgba(38, 206, 198);
  display: block;

}

#video {
  height: 400px;
  aspect-ratio: 16 / 9;
  border-width: 5px;
  border-color: rgba(38, 206, 198);
}

body {
  background-color: rgb(67, 79, 64);
}

